<div class="h-14 bg-purple-500">

  <div class="flex items-center justify-between">

    <div class="flex">
      <div class="w-20 hover:bg-purple-600 hover:text-white cursor-pointer duration-300 ">
        <p [routerLink]="'menu'" routerLinkActive="bg-purple-800 text-white" class="py-4 px-2">Menu</p>
      </div>

      <div class="w-20 hover:bg-purple-600 hover:text-white cursor-pointer duration-300">
        <p routerLink="fistCourse" routerLinkActive="bg-purple-800 text-white" class="py-4 px-2">Fist</p>
      </div>

      <div class="w-20 hover:bg-purple-600 hover:text-white cursor-pointer duration-300">
        <p routerLink="router" routerLinkActive="bg-purple-800 text-white" class="py-4 px-2">Router</p>
      </div>

      <div class="w-30 hover:bg-purple-600 hover:text-white cursor-pointer duration-300">
        <p routerLink="FormsComponent" routerLinkActive="bg-purple-800 text-white" class="py-4 px-2">Formulário</p>
      </div>

      <div class="w-30 hover:bg-purple-600 hover:text-white cursor-pointer duration-300">
        <p routerLink="apiRest" routerLinkActive="bg-purple-800 text-white" class="py-4 px-2">WhatsApp 2.0</p>
      </div>

    </div>

    <div class="flex">
      <div class="w-30 hover:bg-purple-600 hover:text-white cursor-pointer duration-300">
        <p class="py-4 px-2">Authentic</p> 
      </div>
    </div>


  </div>
</div>

  <router-outlet ></router-outlet>

