
<div class=" bg-slate-800 flex">
  <input [(ngModel)]="name" type="text" name="" id="">
  <p class="bg-red-700">{{name}}</p>
  <button (click)="GerarServer()" class="text-purple-400 font-semibold"> Clica para adicionar</button>
</div>

<!-- Let server => nome que escolhi para o looping && server a array -->
<!-- Funciona assim,a cada item que tiver na array vai gerar um novo app-server -->
<app-server *ngFor="let server of servers"></app-server>

<!-------------------------------------------------------------->
<app-header></app-header>

<div class="container mx-auto px-4 pt-5 ">
  <div class="grid-cols-12">
    <app-recipes></app-recipes>
    <app-shopping-list></app-shopping-list>
    <hr>
    <p class="text-red-500">Outro projeto abaixo </p>
    <hr>
  </div>
</div>

<!--------------------------------------------------------------->
<!-- Services is here -->
<div class="container mx-auto px-4 pt-5">
  <div class="grid">
    <app-cockpit></app-cockpit>
    
    <hr>
    <app-test ></app-test>
    <app-server-element  ></app-server-element>
  </div>
</div>

<!--------- Tentando o Router   --------------------------- -->
<div class="container mx-auto px-4 pt-5 h-screen">
  <div class="h-16 bg-gray-200 flex items-center space-x-5 justify-center">

    <button routerLink="usuario" class="p-2 border-2 rounded-md bg-slate-500 text-gray-200 hover:bg-slate-700 duration-300">USUARIO</button>
    <button routerLink="animal" class="p-2 border-2 rounded-md bg-slate-500 text-gray-200 hover:bg-slate-700 duration-300">ANIMAIS</button>
    <button [routerLink]="['./profissao']" class="p-2 border-2 rounded-md bg-slate-500 text-gray-200 hover:bg-slate-700 duration-300">PROFISSÃO</button>
  </div>

  <router-outlet></router-outlet>
</div>
