
<!-- CABEÇALHO NA PÁGINA,TODOS OS MEUS MINI PROJETOS -->

<app-a-cabecalho></app-a-cabecalho>


<!-- FORMULARIOOOO -->

<hr>

<div class="container mx-auto px-4 pt-5 "> 
  <app-formulario2 (enviando)="recebendoMensagem($event)"    [mensagem]="mensagemDoPai"></app-formulario2>
</div>

<!-- SEÇÃO OBSERVABLES -->

<div class="container mx-auto px-4 pt-5 "> 
  <app-observables></app-observables>
</div>

<!-- SEÇÃO HTTP BACK-END -->

<div class="container mx-auto px-20 pt-5 h-screen ">
  <app-http-back-end></app-http-back-end>
</div>