<div class="flex px-40">
  <form [formGroup]="register" (ngSubmit)="enviar()" class="w-full max-w-screen">
    <div class="mb-4">
      <label for="titulo" class="block text-gray-600">Nome</label>
      <input formControlName="username" class="w-full px-3 py-2 border-2 border-blue-400 rounded-md" id="titulo" type="text">
    </div>

    <div class="mb-4">
      <label for="conteudo" class="block text-gray-600">Email</label>
      <input formControlName="email" class="w-full px-3 py-2 border-2 border-green-400 rounded-md" id="conteudo" type="email">
    </div>

    <div class="mb-4">
      <label for="senha" class="block text-gray-600">Senha</label>
      <input formControlName="password" class="w-full px-3 py-2 border-2 border-orange-400 rounded-md" id="senha" type="password">
    </div>

    <div class="flex">
      <button [disabled]="!register.valid" type="submit" class="px-6 py-3 border-2 bg-blue-400 rounded-md text-gray-100">{{ isLoginMode ? 'Login' : 'SighUp'}}</button>
      <button (click)="onSwicthMode()" type="button" class="px-6 py-3 border-2 bg-red-600 rounded-md text-gray-100">Swictch to {{isLoginMode ? 'SighUp' : 'Login'}}</button>
      
    </div>
    <alert-error [message]="alertErrorMessage"></alert-error>
  </form>
</div>
