<div class="grid grid-cols-12 mb-2">

  <div class="col-span-2">
  </div>

  <div class="col-span-8">
    <div class="flex">
      <h1 class="text-3xl">Digite o nome do seu animal:</h1>
      <input class="rounded-xl border-2 border-gray-400" [(ngModel)]="inputDog" type="text">
    </div>

    <div class="flex items-baseline space-x-3">
      <h1 class="text-2xl pt-2">Qual seu animal?</h1>
      <button (click)="tipoCao()" class="p-2 text-sm bg-green-500 text-white rounded-lg">CÃO</button>
      <button (click)="tipoGato()" class="p-2 text-sm bg-yellow-500 text-white rounded-lg">GATO</button>
      <button (click)="tipoCavalo()" class="p-2 text-sm bg-blue-500 text-white rounded-lg">CAVALO</button>
    </div>
  </div>
</div>