<div class="grid grid-cols-12 space-x-2 my-2">
  <div class="grid col-span-3">
    <label for="name">Nome: </label>
    <input class="w-full border-2 rounded-lg border-gray-400" type="text">
  </div>

  <div class="grid col-span-9">
    <label for="name">Numero: </label>
    <input  class="w-60 border-2 rounded-lg border-gray-400" type="number">
  </div>

  <div style="left: -8px;" class="flex my-2 space-x-2 relative">
    <button class="p-2 bg-green-400  hover:bg-green-500 hover:text-white duration-300 rounded-md">Adicionar</button>
    <button class="p-2 bg-red-400  hover:bg-red-500 hover:text-white duration-300 rounded-md">Delete</button>
    <button class="p-2 bg-blue-400  hover:bg-blue-500 hover:text-white duration-300 rounded-md">Limpar</button>
  </div>
</div>